<nav><a href="/all" class = "pokemon">Pokedex</a></nav>

<main class = "pokemon">
    <form action="/all" method="post">
    <h3>You spotted a pokemon!</h3>
    <h2>Name: <input name="pokemon[name]"></h2>
    <h2>CP: <input name="pokemon[cp]"></h2>
    <h2>Type: <input name="pokemon[poke_type]"></h2>
    <h2>Image: <input name="pokemon[img_url]"></h2>


    <input type="submit" value="Throw your pokeball!">

    </form>
</main>
