<section>
  <p class = "pokemon">
    <a href="/all">View Your Pokedex!</a>
    <img src="/images/pokedex2.png" alt="pokedex">
  </p>

  <p class = "pokemon">
    <a href="/trainers">View All Trainers!</a>
    <img src="images/ash.png" alt="ash">
  </p>
</section>
